app-product-card {
    padding-bottom: 15px;
}

a {
&:hover{
    background-color: #2e90c0;
    color: #fff !important;
}
}
.btn {
    border-color: #fff;
}

/*ul{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
