.container-fluid {
    padding-top: 15px;
}

.col-md-4 {
    img {
        position: relative;
        bottom: 25px;
        -webkit-filter: drop-shadow(20px 20px 15px rgba(0, 0, 0, 0.68));
        filter: drop-shadow(20px 20px 15px rgba(0, 0, 0, 0.68));
        margin: 0 auto;
        display: table;
        margin-top: 50px;
    }
    // pulse effect
    .pulse {
        animation: pulse 3s infinite;
        margin: 0 auto;
        display: table;
        margin-top: 50px;
        animation-direction: alternate;
        -webkit-animation-name: pulse;
        animation-name: pulse;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.1);
        }
        100% {
            -webkit-transform: scale(1);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}