<div class="container-fluid">
  <div class="row">

    <div class="col-md-5">
      <!--<img [src]="details.image" class="img-fluid" [ngClass]="{pulse: pulse}" [alt]="details.name">-->
      <img [src]="details.image" class="img-fluid" [alt]="details.name">
    </div>

    <div class="col-md-7">

      <div class="row">
        <div class="col">
          <h1 class="display-4">{{details.name}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="text-muted">{{ "DETAILS_ITEM_NO" | translate }} {{details.id}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>{{ "DETAILS_PRICE" | translate }} {{details.price | currency: 'EUR':true:'1.2-2'}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span><strong>{{ "DETAILS_DESC" | translate }}</strong></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span>{{details.description}}</span>
        </div>
      </div>

      <div *ngIf="details.information">
        <div class="row">
          <div class="col">
            <span><strong>{{ "DETAILS_INFO" | translate }}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li *ngFor="let info of details.information">{{info}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary cart" [disabled]="cartDisabled" (click)="addToCart()">
              <span class="fa fa-cart-plus"></span>
            </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-color-dropdown [colors]="colors" [limit]="details.quantity" [reset]="resetSelectedColors" (onSelect)="selectColor($event)"></app-color-dropdown>
        </div>
      </div>

    </div>
  </div>
</div>
