<nav class="navbar fixed-top navbar-inverse bg-inverse">
  <div class="row">
    <div class="col-md-6">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/logo/head.png" width="30" height="30" class="d-inline-block align-top" />
      </a>
      <a role="button" (click)="menuCollapsed = !menuCollapsed; lockBodyScroll()" class="menu-button btn-margin-right">
        <span class="{{!menuCollapsed ? 'fa fa-bars' : 'fa fa-times'}}"></span>
      </a>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="input-group">
              <input formControlName="searchQuery" type="search" placeholder='{{ "NAV_SEARCH" | translate }}' class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-outline-primary" type="submit"><span class="fa fa-search"></span></button>
              </span>
            </div>
          </form>
        </div>
        <app-i18n-button class="col-auto i18n"></app-i18n-button>
        <app-cart-modal class="col-auto cart"></app-cart-modal>
        <app-login-modal class="col-auto user"></app-login-modal>
      </div>
    </div>
  </div>
</nav>

<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="!menuCollapsed" class="card card-block card-header">
  <app-menu (onMenuItemSelected)="menuCollapsed = !menuCollapsed"></app-menu>
</div>
