.container-burger {
	display: flex;
}
.burger-lines{
	padding-right: 1rem;
}
.row-burger {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  max-width: auto;

}

.burger .line{
  width: 32px;
  height: 5px;
  background-color: #fff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.burger:hover{
  cursor: pointer;
}


#burger{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#burger.is-active{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;

}


// Balkenlänge
#burger.is-active .line{
  width: 32px;
  // Farbe vom x
  background-color: #fff;

}

// Balken 1
#burger.is-active .line:nth-child(1){
  -webkit-transform: translateY(14px);
  -ms-transform: translateY(14px);
  -o-transform: translateY(14px);
  //transform: translateY(14px);
  transform: translate(0,14px);
}

// hier verschwindet der 2. Balken
#burger.is-active .line:nth-child(2){
  opacity: 0;
}

// Balken 3
#burger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-12px) rotate(90deg);
  -ms-transform: translateY(-12px) rotate(90deg);
  -o-transform: translateY(-12px) rotate(90deg);
  //transform: translateY(-14px) rotate(90deg);
  transform: translate(0,-12px) rotate(90deg);


}

/*Logo*/

.logo-head {
	width: 36px;
	height: 36px;
}
.logo-font {
	width: auto;
	height: 36px;
	margin-left: 2px;
	// filter: invert(100%);
}

.card.card-block.card-header{
	position: fixed;
	z-index: 100;
	width: 100%;
	// height: 18vh !important;
	height: 160px !important;
	border-radius: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: repeating-linear-gradient(
	  135deg,
	  #f7f7f7,
	  #f7f7f7 5px,
	  #fff 5px,
	  #fff 10px
);
}

/*Searchbar expandable*/

.search-form .input-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 74px;
  //height: 38px;
  background-color: #fff;

  border: none;


}

.search-form .input-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .input-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .input-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .input-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .input-group:hover,
.search-form .input-group.hover {
  width: 100%;
  z-index: 2;

}

input#search.form-control{

	min-width: 0px !important;
	z-index: -2;

}

.input-group{
	width: 0;

}


.fa-search {
    color: #2e90c0;
}

.btn {
    border-color: #2e90c0;

        &:hover {
	        background-color: #2e90c0;

				&.btn-outline-primary{
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
			}

        .fa {
            color: #F27433;

        }
    }
}

button {
	border-color: #2e90c0;
	&.btn.btn-outline-primary{
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}

}


/*From Kaan*/

.i18n, .cart, .user {
	padding-right: 15px;
}


/* media queries
*  tablet landscape
*/
@media (min-width: 1024px) and (max-width: 1200px){
	.card.card-block.card-header{
		// height: 0vh !important;
	}
}

/*
*  tablet portrait
*/
// @media (min-width: 767px) and (max-width: 1023px){
// 	.card.card-block.card-header{
// 		// height: 65vh !important;
// 	}
// }

/*
*  phone landscape
*/
@media (min-width: 576px) and (max-width: 767px){
	.card.card-block.card-header{
		margin-top: 4vh;
		// height: 76vh !important;
	}
}

/*
*  phone portrait
*/
@media (min-width: 333px) and (max-width: 575px){
	.card.card-block.card-header{
		margin-top: 4.2vh;
		// height: 29vh !important;
		height: 263px !important;
	}
}
