<nav class="navbar navbar-inverse fixed-top bg-inverse">
  <div class="row">
    <div class="col-md-6">
          <div class="container-burger">
            <div class="row-burger" (click)="menuCollapsed = !menuCollapsed; lockBodyScroll()">
              <div class="burger-lines">
                <div class="burger" id="burger" [ngClass]="{'is-active' : menuCollapsed}">
                  <span class="line"></span>
                  <span class="line"></span>
                  <span class="line"></span>
                  </div>
                </div>
            </div>
            <div class="logo">
                <a class="navbar-brand" routerLink="/">
                    <img class="logo-head" src="/assets/logo/head.png" />
                    <img class="logo-font" src="/assets/logo/typo_w.png" />
                </a>
            </div>
          </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
            <div class="input-group bg-inverse">
              <input formControlName="searchQuery" type="search" class="form-control" placeholder="{{ 'NAV_SEARCH' | translate }}" id="search">
                <span class="input-group-btn">
                    <button class="btn btn-outline-primary" type="submit">
                          <span class="fa fa-search">
                  </span>
              </button>
              </span>
            </div>
          </form>
        </div>
        <app-login-modal #login class="col-auto user"></app-login-modal>
        <app-i18n-button class="col-auto i18n"></app-i18n-button>
        <app-cart-modal class="col-auto cart" (openLogin)="openLogin()"></app-cart-modal>
      </div>
    </div>
  </div>
</nav>

<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="!menuCollapsed" class="card card-block card-header">
  <app-menu (onMenuItemSelected)="menuCollapsed = !menuCollapsed"></app-menu>
</div>
