.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

.modal-dialog {
    margin-right: 15px;
    margin-top: 70px;
    .modal-header {
        justify-content: flex-end;
        padding: 0 5px 5px 0;
        height: 1.3rem;
        border-bottom: none;
        .fa-times {
            font-size: 1rem;
        }
        .close {
            color: #fff;
            text-shadow: none;
        }
    }

    .modal-body {
        padding: 0 1rem 1rem 1rem;

        .first-row {
            margin-top: 1rem;
        }

        .input-group {
            margin-left: 1rem;
            margin-right: 1rem !important;
            .input-group-addon {
                width: 15%;
            }
        }
    }
}

.fa-user {
    color: #2e90c0;
}

.btn {
    border-color: #2e90c0;

        &:hover {
	        background-color: #2e90c0;

        .fa {
            color: #F27433;

        }
    }
}

button {
	border-color: #2e90c0;

}

.menu-drop {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.dropdown-item {
    &:hover {
        cursor: pointer;
    }
}
