   
   <h1 align="center" >Caps List </h1>

  <div class="row">
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/Bilder/Spruehcaps.jpg" alt="..." style="width:90%; height:230px;">
      <div class="caption">
        <h3>Product Name</h3>
        <h4> Description: </h4>
        <p>
           Die PREMIUM Neon besticht nicht nur durch eine hohe Deckkraft,
           sondern auch durch ihre schnelle Trocknung. 
           So können die Trocknungszeiten für eine weitere 
           Bearbeitung kurz gehalten werden.</p>
        <p><a href="#" class="btn btn-primary" role="button">View Details</a> <a href="#" class="btn btn-default" role="button">Shopping cart</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/Bilder/Spruehcaps.jpg" alt="..." style="width:90%; height:230px;">
      <div class="caption">
        <h3>Product Name</h3>
        <h4> Description: </h4>
        <p>
           Die PREMIUM Neon besticht nicht nur durch eine hohe Deckkraft,
           sondern auch durch ihre schnelle Trocknung. 
           So können die Trocknungszeiten für eine weitere 
           Bearbeitung kurz gehalten werden.</p>
        <p><a href="#" class="btn btn-primary" role="button">View Details</a> <a href="#" class="btn btn-default" role="button">Shopping cart</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/Bilder/Dosen.jpg" alt="..." style="width:90%; height:230px;">
      <div class="caption">
        <h3>Product Name</h3>
        <h4> Description: </h4>
        <p>
           Die PREMIUM Neon besticht nicht nur durch eine hohe Deckkraft,
           sondern auch durch ihre schnelle Trocknung. 
           So können die Trocknungszeiten für eine weitere 
           Bearbeitung kurz gehalten werden.</p>
        <p><a href="#" class="btn btn-primary" role="button">View Details</a> <a href="#" class="btn btn-default" role="button">Shopping cart</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/Bilder/Spruehaccessoires.jpg" alt="..." style="width:90%; height:230px;">
      <div class="caption">
        <h3>Product Name</h3>
        <h4> Description: </h4>
        <p>
           Die PREMIUM Neon besticht nicht nur durch eine hohe Deckkraft,
           sondern auch durch ihre schnelle Trocknung. 
           So können die Trocknungszeiten für eine weitere 
           Bearbeitung kurz gehalten werden.</p>
        <p><a href="#" class="btn btn-primary" role="button">View Details</a> <a href="#" class="btn btn-default" role="button">Shopping cart</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/Bilder/Spruehcaps.jpg" alt="..." style="width:90%; height:230px;">
      <div class="caption">
        <h3>Product Name</h3>
        <h4> Description: </h4>
        <p>
           Die PREMIUM Neon besticht nicht nur durch eine hohe Deckkraft,
           sondern auch durch ihre schnelle Trocknung. 
           So können die Trocknungszeiten für eine weitere 
           Bearbeitung kurz gehalten werden.</p>
        <p><a href="#" class="btn btn-primary" role="button">View Details</a> <a href="#" class="btn btn-default" role="button">Shopping cart</a></p>
      </div>
    </div>
  </div>

</div> <br><br>
