<div class="container-fluid">

<div class="row">
        <div class="col">
            <h1>{{ "VIDEO_TUT" | translate }}</h1>
        </div>
</div> 

<div class="card">
  <div class="container-fluid">
  <div class="card-block">
        <div class="row">
            <div class="card-block">
                <div class="col-md-6">
                    <div class="container-fluid">
                    <div class="row">
                        <div>
                            <div class="card card-inverse">
                                <iframe width="400" height="245" [src]="url" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>

            <div class="card-block">
                <div class="col-md-6">
                    <div class="container-fluid">
                    <div class="row">
                        <div>
                            <div class="card card-inverse">
                                <iframe width="400" height="245" [src]="url1" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
     </div>
  </div>
  </div>
</div>
</div>
