<div class="container-fluid">
  <carousel *ngIf="popularProducts" class="slideshow" [ngClass]="{ 'list-modal-active': isCarouselPaused }" [interval]="carouselInterval">
    <slide *ngFor="let product of popularProducts">
      <img [src]="product.image" class="img-responsive" />
      <div class="carousel-caption" (click)="openView(product.id)">
        <h3>{{product.name}}</h3>
        <small>{{ "SLIDE_NAME" | translate }} {{product.id}}</small>
        <br>
        <small>{{ "SLIDE_PRICE" | translate }} {{product.price | currency: 'EUR':true:'1.2-2'}}</small>
      </div>
    </slide>
  </carousel>
</div>
