<button type="button" class="btn btn-outline-primary" (click)="showModal()">
  <span class="fa fa-shopping-cart" aria-hidden="true"></span>
</button>

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">{{ "CART_HEAD" | translate }}</div>
      <div class="modal-body">{{ "CART_BODY" | translate }}</div>

    </div>
  </div>
</div>
