<div class="row" style="background-color: black; color: white; padding-top:15px; padding-bottom:15px;">
  <div align="center" class="col-md-4">
    <h5 style="padding-left: 100px; "> Impressum </h5>
  </div>

  <div align="center " class="col-md-4">
    <h5><i class="fa fa-copyright" aria-hidden="true" style="margin-left: 0px;">Arthur B.- Eli K.- Kaan K.- Valdet D.  -- 2017</i></h5>
  </div>

  <div class="col-md-4">
      <div class="row">
        <h5> <i class="fa fa-facebook-square" aria-hidden="true" style="margin-left: 20px;"></i></h5>
        <h5> <i class="fa fa-twitter-square" aria-hidden="true"style="margin-left: 10px;"></i> </h5>   
        <h5> <i class="fa fa-linkedin-square" aria-hidden="true" style="margin-left: 10px;"></i></h5>
      </div>
  </div>
</div>