<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/Bilder/Dosen.jpg" alt="..." style="width:90%; height:230px;">
      <div class="caption">
        <h3>{{ "STATIC_CAT_D" | translate }}</h3>
        <h4>{{ "STATIC_DESC" | translate }}</h4>
        <p>{{ "STATIC_DESC_CONTENT" | translate }}</p>
        <p><a href="#" class="btn btn-primary" role="button">{{ "STATIC_LIST" | translate }}</a> <a href="#" class="btn btn-default" role="button">Shopping cart</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/Bilder/Spruehaccessoires.jpg" alt="..." style="width:90%; height:230px;">
      <div class="caption">
        <h3>{{ "STATIC_CAT_A" | translate }}</h3>
        <h4>{{ "STATIC_DESC" | translate }}</h4>
        <p>{{ "STATIC_DESC_CONTENT" | translate }}</p>
        <p><a href="#" class="btn btn-primary" role="button">{{ "STATIC_LIST" | translate }}</a> <a href="#" class="btn btn-default" role="button">Shopping cart</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/Bilder/Spruehcaps.jpg" alt="..." style="width:90%; height:230px;">
      <div class="caption">
        <h3>{{ "STATIC_CAT_C" | translate }}</h3>
        <h4>{{ "STATIC_DESC" | translate }}</h4>
        <p>{{ "STATIC_DESC_CONTENT" | translate }}</p>
        <p><a href="#" class="btn btn-primary" role="button">{{ "STATIC_LIST" | translate }}</a> <a href="#" class="btn btn-default" role="button">Shopping cart</a></p>
      </div>
    </div>
  </div>

</div>
