<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div align="center "class="panel-heading" style="background-color:gray">SHOPPING CART </div>

  <!-- Table -->
  <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Quantity</th>
      <th>Product Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>10</td>
      <td>Premium</td>
      <td>120.00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>10</td>
      <td>Premium</td>
      <td>120.00</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>10</td>
      <td>Premuim</td>
      <td>120.00</td>
    </tr>
  </tbody>
</table>
</div>